body {
  background-image: url(https://img.freepik.com/free-vector/cryptocurrency-coding-digital-background-vector-open-source-blockchain-concept_53876-140597.jpg?w=1380&t=st=1705990751~exp=1705991351~hmac=248bb1e76aaa8db8797da034bf9e0f3d393468d34a4cbc312eb61b018a0505d3);
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}
.card {
    cursor: default;
    margin-right: 20px;
    transition: 1s;
  }

.card:hover {
    -webkit-box-shadow: 0px 0px 30px 0px black;
    -moz-box-shadow: 0px 0px 30px 0px darkviolet;
    box-shadow: 0px 0px 30px 0px blue;
  }

.game-card {
    height: 100vh;
    font-family: "Open Sans", monospace;
}

.card-header {
  background-color: rgba(252, 6, 6, 0.459);
}

.card-footer {
  background-color: rgba(0, 238, 255, 0.623);
}

.card-body {
  background-color: rgba(0, 238, 255, 0.623);
}

.form-group {
  margin-inline: auto;
  padding: 5px;
  width: auto;
}

label {
  padding: 0px 10px 0px 0px;
}

#btnRetry {
  text-decoration: none;
  color: rgb(37, 2, 194);
}

#btnRetry:hover {
  color: rgb(255, 18, 1);
  font-weight: bold;
}

#btnEqual {
  margin-right: 20px;
  margin-left: 20px;
}

.hidden {
  display: none;
}
